body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: white;
}

a {
  text-decoration: none;
}

.appointment-form__button {
  font: inherit;

  text-align: center;
  color:#ffffff;
  vertical-align: middle;

  background-color: #fb565a;
  border: none;
}
.appointment__button:hover,
.appointment__button:focus,
.appointment__button:active {
  background-color: #e74246;
  }

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
}

.site-navigation__list {
  list-style: none;
}

.site-navigation__link {
  color: #000000;
  }

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #fb565a;
}

.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
}

.user-navigation__list {
  list-style: none;
}

.user-navigation__link {
  color: #000000;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  color: #fb565a;
}

.user-navigation__link:active {
  color: rgba(0, 0, 0, 0.3); 
}
/*
.active-line:active {
  width: 61px;
  height: 2px;
  background-color: #fb565a;
}
*/

.main-navigation__logo {
  width: 160px;
  height: 65px;
  object-fit: contain;
}

.main-navigation__logo:hover,
.main-navigation__logo:focus {
  opacity: 0.8;
}
.main-navigation__logo:active {
  opacity: 0.3;
}

.projects__list {
  list-style: none;
}

.projects__item {
  text-align: center;
  margin-bottom: 10px; /*временно тут */
}

.projects__item h3 {
  font-size: 24px;
  line-height: 30px;
}

.directions__tagline {
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.appointment-form__list{
  list-style: none;
}

.appointment-form__item input {
  font: inherit;
  background-color: #eeeeee;
  border: solid 2px #d7dcde;
  width: 360px;
  height: 50px;
  opacity: 0.5;
  color: rgba(68, 68, 68, 0.5);
}

.appointment-form__item input:focus,
.appointment-item input:hover {
  border: solid 2px #b4b9bb;
}

.appointment-form__item input:active {
  border: solid 2px #000000;
  background-color: white;
}

.appointment-form__button{
  width: 260px;
  height: 50px;
  background-color: #fb565a;
}

.appointment-form__button:hover{
  background-color:#e74246;
}

.appointment-form__button:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.main-footer {
  color: #000000;
}

.footer-contacts a {
  color: #e1e1e1;
  text-decoration: underline;
  }

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-sentence p {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.footer-sentence span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #444444;
}

.footer-social__item {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;
}

.footer-social__item:hover {
  background-color: #e74246;
}

.footer-social__item:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.main-footer__link {
  text-decoration: none;
}

.pagination-list {
  list-style: none;
  text-decoration: none;
  color: #000000;
}

.page-index h2 {
  font-size: 55px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.page-index__tagline p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #283136;
}

.page-catalog__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.page-catalog {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-catalog__list {
  list-style: none;
}

.page-catalog__item {
  font-size: 14px;
  font-weight: normal;
  }

.page-sorting h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

.page-sorting__list {
  list-style: none;

}

.page-sorting__item {
  font-size: 14px;
  font-weight: normal;
  }

.page-catalog__button {
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;

  width: 240px;
  height: 50px;
  font-style: normal;
}

.page-catalog__button:hover {
  background-color: #dfdfdf;
}

.page-catalog__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-list__item {
  width: 43px;
  height: 43px;

  margin-bottom: 15px;
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  vertical-align: center;

}

.pagination-list__item:hover {
  width: 43px;
  height: 43px;

  background-color: #dfdfdf;
}

.pagination-list__link:active{
  width: 43px;
  height: 43px;
  padding: 20px;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-list__link--current{
  width: 43px;
  height: 43px;
  padding: 20px;
  border: solid 3px #dbdbdb;
}

.pagination-list__link--next{
  width: 260px;
  height: 50px;
  font-weight: 500;
  padding: 20px;
  text-transform: uppercase;
}

.page-index__button{
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  color:#ffffff;
  text-transform: uppercase;
}

.page-index__button:hover{
  background-color: #e74246;
}

.page-index__button:active{
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.projects__button--red {
  width: 160px;
  height: 50px;
  background-color: #fb565a;
  color:#ffffff;
  text-transform: uppercase;
}

.projects__button--red:hover {
  background-color: #e74246;
}

.projects__button--red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.projects__button--green {
  width: 160px;
  height: 50px;
  color: #ffffff;
  background-color: #00ca74;
  text-transform: uppercase;
}

.projects__button--green:hover {
  background-color: #00bc6c;
}

.projects__button--green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.projects__button--yellow {
  width: 160px;
  height: 50px;
  color:#ffffff;
  background-color: #efc84a;
  text-transform: uppercase;
}

.projects__button--yellow:hover {
  background-color: #eab534;
}

.projects__button--yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}


.results__list {
  list-style: none;
}

/* .results__item{
  color: #000000;
} */


.results__item {
  color:#fb565a;
  opacity: 0.2;
}

.results__item:focus,
.results__item:hover {
  opacity: 1;
}

.results__item:active {
  opacity: 0.1;
}

.directions__list {
  list-style: none;
}

.directions__item {
  text-align: center;
}

.directions h3 {
  text-align: center;
}

.advanteges {
  text-align: center;
}

.advanteges__list {
  list-style: none;
}

.advanteges__item {
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.directions__tagline h2 {
font: inherit;
font-size: 45px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1;
letter-spacing: normal;
text-align: left;
color: #000000;
}

.text-style-1 {
font-weight: bold;
color: #000000;
}

/*----Сеточные стили ----*/

.main-header {
  margin-bottom: 545px;

  min-height: 114px;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  
 
  min-height: 132px;
}

.main-navigation__logo{
  width: 160px;
  height: 65px;
}

.site-navigation {
  width: 354px;
  margin:0;
  padding: 0;

  list-style: none;

  min-height: 132px;
}

.user-navigation{
  width: 115px;
  margin:0;
  padding: 0;

  list-style: none;

  min-height: 132px;

}

.main-navigation__wrapper{
  width: 100%;
  background-color: #eeeeee;
}

.main-navigation__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.projects {
  margin-bottom: 162px;
}

.projects__list {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding: 0;

  list-style: none;

  min-height: 132px;
}

.projects__item {
  width: 300px;

  min-height: 132px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 141px 80px;
  margin-bottom: 134px;
}

.directions {
  width: 647px;
  min-height: 525px; 
}

.advanteges {
  width: 360px;
  min-height: 525px; 
}

.results {
  margin-bottom: 140px;

  min-height: 180px;
}

.results__list {
  display: flex;
  justify-content: space-between;
}

.results__item {
   width: 350px;
}

.contacts {
  width: 319px;
 
  font-weight: normal;
  font-style: normal;
  color: #666666;
}

.contacts h3 {
  font-size: 18px;
  font-weight: bold;
}

.main-footer {
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 140px;
  padding-right: 1221px;
  margin-top: 496px;

  min-height: 120px;
}

.main-footer .container {
  display: flex;
  
}

.footer-social {
  width: 181px;
  min-height: 217px;
  margin-right: 139px;
}

.footer-sentence {
  width: 545px;
}