body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: white;
}

html {
  box-sizing: border-box;
}


 *::before,
 *::after {
   box-sizing: inherit;
  }

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  /* align-items: center; */
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-header {
  margin-bottom: 17px;
  min-height: 115px;

  background-color: #eeeeee;
}

.slider {
  position: relative;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider__controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider__controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider__item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider__item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider__item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider__list .slider__item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider__controls .slider__controls-item--1::before,
#product-2:checked ~ .slider__controls .slider__controls-item--2::before,
#product-3:checked ~ .slider__controls .slider__controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.appointment-form__button {
  font: inherit;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;

  background-color: #fb565a;
  border: none;
}
.appointment__button:hover,
.appointment__button:focus,
.appointment__button:active {
  background-color: #e74246;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;*/
  min-height: 115px;
}

.main-navigation__logo{
  width: 160px;
  height: 65px;
}

.site-navigation {
  width: 440px;
  margin:0;
  padding: 0;
  list-style: none;
  min-height: 115px;
}

.user-navigation {
  width: 116px;
  margin:0;
  padding: 0;
  list-style: none;
  min-height: 115px;

}

.main-navigation__wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;

  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-navigation__wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation__link {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #fb565a;
}

.site-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation__link {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #000000;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  color: #fb565a;
}

.user-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}
/*
.active-line:active {
width: 61px;
height: 2px;
background-color: #fb565a;
}
*/

.main-navigation__logo {
  width: 160px;
  height: 65px;
  object-fit: contain;
}

.main-navigation__logo:hover,
.main-navigation__logo:focus {
  opacity: 0.8;
}
.main-navigation__logo:active {
  opacity: 0.3;
}

.projects {
  margin-bottom: 123px;
  padding-left: 20px;
  padding-right: 20px;
}

.projects__list {
  display: flex;
  justify-content: space-between;

  margin:0;
  padding: 0;

  list-style: none;
  min-height: 348px;
}

.projects__item {
  width: 300px;
  text-align: center;

  margin-bottom: 10px; /*временно тут */

  min-height: 348px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  margin-bottom: 140px;
}

.directions {
  width: 650px;
  min-height: 409px;
}

.advanteges {
  width: 360px;
  min-height: 409px;
}

.page-index__slide1{
  width: 698px;
  height: 413px;
}

.projects__item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.directions__tagline {
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.appointment-form__list{
  list-style: none;
}

.appointment-form__item input {
  font: inherit;
  width: 360px;
  height: 50px;

  background-color: #eeeeee;
  border: solid 2px #d7dcde;
  opacity: 0.5;
  color: rgba(68, 68, 68, 0.5);
}

.appointment-form__item input:focus,
.appointment-item input:hover {
  border: solid 2px #b4b9bb;
}

.appointment-form__item input:active {
  border: solid 2px #000000;
  background-color: white;
}

.appointment-form__button{
  width: 260px;
  height: 50px;

  background-color: #fb565a;
}

.appointment-form__button:hover{
  background-color:#e74246;
}

.appointment-form__button:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.main-footer {
  color: #000000;
}

.footer-contacts a {
  color: #e1e1e1;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;

}

.footer-social__link {
  display: flex;
  justify-content: center;

  width: 79px;
  height: 79px;
  list-style: none;
  text-align: center;
  align-items: center;

  background-color: #e1e1e1;
  border-radius: 60px;
}

.footer-sentence p {
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.footer-sentence span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #444444;
}

.footer-social__link:hover {
  background-color: #e74246;
}

.footer-social__link:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.main-footer__link {
  text-decoration: none;
}

.pagination-list {
  padding: 0;
  margin:0;

  list-style: none;
  text-decoration: none;
  color: #000000;

  min-height: 50px;
}

.page-index h2 {
  font-size: 55px;
  font-weight: 500;
  font-style: normal;

  text-align: left;
  color: #000000;
}

.page-index__tagline p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  text-align: center;
  color: #283136;
}

.page-catalog__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 55px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #000000;

}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
}

.pagination-list__item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
  font:inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  border: none;
  background-color: #eeeeee;

}

.pagination-list__item--next{
  width: 260px;
  height: 50px;
  font:inherit;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  border: none;
  list-style: none;
  vertical-align: middle;
}

.pagination-list__item:last-child {
  margin-right: 0;
}

.pagination-list__link span{
  height: 15px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}


.pagination-list__item:hover {
  background-color: #ffffff;
}

.pagination-list__item:focus {
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.pagination-list__item:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.pagination-list__item--current a:hover,
.pagination-list__item--current a:focus,
.pagination-list__item--current a:active {
  color: #000000;
  border: solid 3px #dbdbdb;
  background-color: #ffffff;
}

.page-index__button{
  width: 240px;
  height: 50px;
  text-transform: uppercase;

  background-color: #fb565a;
  color:#ffffff;

}

.btn-style {
  text-transform: uppercase;
  color:#ffffff;

  border-style: none;
  border-radius: 3px;
  outline: inherit;
}

.page-index__button:hover{
  background-color: #e74246;
}

.page-index__button:active{
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.projects__button--red {
  width: 160px;
  height: 50px;

  background-color: #fb565a;
}

.projects__button--red:hover {
  background-color: #e74246;
}

.projects__button--red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.projects__button--green {
  width: 160px;
  height: 50px;

  background-color: #00ca74;

}

.projects__button--green:hover {
  background-color: #00bc6c;
}

.projects__button--green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.projects__button--yellow {
  width: 160px;
  height: 50px;

  background-color: #efc84a;
}

.projects__button--yellow:hover {
  background-color: #eab534;
}

.projects__button--yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.partners__list {
  list-style: none;
}

.partners__item {
  color:#fb565a;

  opacity: 0.2;
}

.partners__item:focus,
.partners__item:hover {
  opacity: 1;
}

.partners__item:active {
  opacity: 0.1;
}

.directions__list {
  list-style: none;
}

.directions__item {
  text-align: center;
}

.directions h3 {
  text-align: center;
}

.advanteges {
  text-align: center;
}

.advanteges__list {
  list-style: none;
}

.advanteges__item {
  text-align: center;
}

.directions__tagline h2 {
  font: inherit;
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.text-style-1 {
  font-weight: bold;
  color: #000000;
}

/*----Сеточные стили ----*/

.partners {
  margin-bottom: 10px;

  min-height: 90px;
}

.partners__list {
  display: flex;
  justify-content: space-between;
}

.partners__item {
  width: 300px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;

  width: 319px;
  text-align: left;
  color: #666666;

  background-color: white;
  /* margin: inherit; */
}

.contacts h3 {
  margin-top: 54px;
  margin-bottom: 32px;

  font-size: 18px;
  font-weight: bold;
}

address {
  font-style: normal;
}

.contacts__button {
  width: 219px;
  height: 50px;
  margin-top: 50px;

  font: inherit;
  text-align: center;
  vertical-align: middle;
  color:#ffffff;

  background-color: #fb565a;
  border: none;
}

.contacts__button p {
  height: 50px;

  font-size: 16px;
  text-align: center;
}

.main-footer {
  min-height: 148px;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 250px;
  min-height: 148px;
  margin-right: 139px;
}

.footer-sentence {
  width: 545px;

  min-height: 148px;
}

.inner-page .main-header {
  align-items: flex-start;
  flex-direction: row;
  /* margin-bottom: 50px; */
  min-height: 81px;
  background-color: #eeeeee;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
  min-height: 81px;
  background-color: #eeeeee;
  /*  align-items: flex-start;
  flex-direction: row;*/
}

.main-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;

  background-color: #eeeeee;
  min-height: 81px;
}

.inner-page .user-navigation {
  /* margin-left: auto; */
}

.page-catalog__title{
  margin: 0;
  margin-bottom: 116px;
  padding: 0;

  /* Временно для сетки */
  min-height: 55px;
}

.page-sorting {
  padding: 0;
  margin: 0;
  margin-bottom: 59px;

 /* Временно для сетки */
 min-height: 14px;
}

.form-filter {
  width: 261px;

  min-height: 702px;
}

.main-catalog {
  width: 760px;
  min-height: 1914px;

  font-size: 18px;
  font-weight: bold;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.main-catalog__item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;

  font-size: 14px;
  font-weight: normal;
  /* Временно для сетки */
  min-height: 576px;
}

.main-catalog__item:nth-child(2n) {
  margin-right: 0;
}

.main-catalog__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin-bottom: 60px;

  list-style: none;
}

.inner-page .main-footer {
  margin-top: 60px;
}

.page-sorting h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  /* text-align: center; */
}

.page-sorting__list {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  list-style: none;
}

.page-sorting__item {
  font-size: 14px;
  font-weight: normal;
}

.page-catalog__button {
  width: 240px;
  height: 50px;
  font: inherit;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.page-catalog__button:hover {
  background-color: #dfdfdf;
}

.page-catalog__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.form-filter__block {
   border: none;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.main-footer .container {
  display: flex;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
